<modal [height]="55" [width]="40" [gap]="0.75" (onClose)="_close()">
    @if (_isLoading() && !_error()) {
    <page-loader />
    }
    @if(!_isLoading() && _error()){
    <page-error [statusCode]="_error()!.statusCode" />
    }
    @if (!_isLoading() && !_error()) {
    <header [style.color]="_supplier()!.isDeleted ? 'red':'lime'">
        <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 2048 2048">
            <path fill="currentColor"
                d="M960 256q115 0 221 30t198 84t169 130t130 168t84 199t30 221q0 115-30 221t-84 198t-130 169t-168 130t-199 84t-221 30q-115 0-221-30t-198-84t-169-130t-130-168t-84-199t-30-221q0-115 30-221t84-198t130-169t168-130t199-84t221-30" />
        </svg>

        <h2>{{_supplier()!.name}}</h2>
    </header>

    <h4>Información de Contacto Principal:</h4>
    <div class="info">
        <p><span>Correo Eléctronico: </span>{{_supplier()!.email}}</p>
        <email-button [email]="_supplier()!.email" />
        <copy-button [value]="_supplier()!.email" />
    </div>
    <div class="double">

        <div class="info">
            <p><span>Teléfono: </span>{{_supplier()!.phone}}</p>
            <copy-button [value]="_supplier()!.phone" />
        </div>

        <div class="info">
            <p><span>RFC: </span>{{_supplier()?.rfc ?? 'No agregado.'}}</p>
            @if (_supplier()?.rfc) {
            <copy-button [value]="_supplier()!.rfc!.trim()" />
            }
        </div>

    </div>

    <div class="info">
        <p><span>Proveedor desde: </span> {{_supplier()!.createdAt | date: 'dd/MM/yyyy'}}.</p>
    </div>
    <hr>
    <h4>Información de Contacto Alternativa:</h4>
    <div class="info">
        <p><span>Correo Alternativo: </span>{{_supplier()!.altEmail ?? 'No agregado.'}}</p>
        @if (_supplier()!.altEmail) {
        <email-button [email]="_supplier()!.email" />
        <copy-button [value]="_supplier()!.email" />
        }
    </div>
    <div class="info">
        <p><span>Teléfono Alternativo: </span>{{_supplier()!.altPhone ? _supplier()?.altPhone: 'No agregado.'}}</p>
        @if (_supplier()!.altPhone) {
        <copy-button [value]="_supplier()!.altPhone"/>
        }
    </div>
    <div class="options">
        <loading-button label="Editar" [isLoading]="false" [disabled]="_supplier()!.isDeleted"
            (onClick)="_editSupplier()" />
        @if(_supplier()!.isDeleted){
        <loading-button label="Restaurar" [isLoading]="_restoreLoading()" btnStyle="restore"
            (onClick)="_restoreSupplier()" />
        }
        @else{
        <loading-button label="Dar de Baja" [isLoading]="_deleteLoading()" btnStyle="delete"
            (onClick)="_deleteSupplier()" />
        }
    </div>
    }
</modal>