.error {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: red;
  border-radius: 0.5rem;
  padding: 0.7rem 0.5rem;
  color: white;

  p {
    font-size: 0.75rem;
    color: currentColor;
    font-weight: 600;
  }
}
