.main-inventory {
  position: relative;
  .tabs {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #e8e9eb;
    border-radius: 0.5rem;
    user-select: none;

    a {
      padding: 0.5rem 0.75rem;
      text-decoration: none;
      font-weight: 500;
    }

    .active {
      background-color: var(--background-color);
      border-radius: 0.5rem 0.5rem 0 0;
      font-weight: 550;
    }
  }
}
