modal {
  gap: 1rem;
  h2 {
    margin: 0;
  }
  .base-form {
    display: flex;
    height: 100%;
    gap: 2rem;

    .image-section {
      padding: 1rem;

      .image {
        position: relative;
        height: 12rem;
        width: 12rem;
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.02);
        }

        button {
          color: var(--primary-color);
          background-color: transparent;
        }

        img {
          max-width: 12rem;
          max-height: 12rem;
          border-radius: 0.5rem;
        }

        p {
          font-size: 0.75rem;
        }
        
        small-loader{
          position: absolute;
        }

        .change-image {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0;
          transform: translate(40%, -40%);
        }
      }
    }
    .form-section {
      flex: 1;
      display: flex;
      flex-direction: column;

      form {
        gap: 0.7rem;

        .description {
          display: flex;
          flex-direction: column;
          gap: 0.3rem;

          label {
            font-size: 0.8rem;
            font-weight: 500;
          }

          .labels {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            small {
              font-family: var(--body-font);
              font-weight: 500;
              font-size: 0.7rem;
              text-align: right;
            }

            .error {
              color: red;
            }
          }

          textarea {
            resize: none;
          }
        }
      }

      loading-button {
        margin-top: auto;
        align-self: flex-end;
      }
    }
  }
}
