.select-filter-container {
  position: relative;
  display: flex;
  align-content: center;
  padding: 0.75rem 2rem 0.75rem 0.75rem;
  border-radius: 0.5rem;
  min-width: 12rem;
  user-select: none;

  p{
    text-transform: capitalize;
  }

  .placeholder {
    font-family: var(--body-font);
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--placeholder-color);
    margin: 0;
  }

  .helper-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-content: center;
    color: var(--primary-color);
  }

  .dropdown-list {
    position: absolute;
    width: 100%;
    bottom: -0.5rem;
    left: 0;
    transform: translateY(100%);
    background-color: white;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    box-shadow: var(--modal-shadow);
    z-index: 99;

    .refresh {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      background-color: transparent;
      padding: 0.5rem;
      display: flex;
      align-content: center;
      color: var(--primary-color);
      transition: transform 0.3s ease;

      &:active{
        transform: rotate(180deg);
      }
    }

    .dropdown-item {
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      color: var(--primary-color);
      cursor: pointer;
      transition: background-color 0.3s ease;

      .dropdown-label {
        color: currentColor;
        text-transform: capitalize;
      }

      &:hover {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }
}
