.main-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: var(--primary-color);

  span {
    text-align: right;
    font-size: 0.7rem;
    color: red;
    font-weight: 600;
  }
}

*,
* {
  user-select: none;
}

.input-container {
  position: relative;
  width: auto;
  border-radius: 0.5rem;

  button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    background-color: transparent;
    color: var(--primary-color);
  }
}
