.select-container {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 11.813rem;
  max-height: 2.625rem;
  padding: 0.8rem 0.7rem;
  background-color: var(--input-background);
  border-radius: 0.5rem;
  font-family: var(--body-font);
  font-weight: 500;

  .placeholder {
    font-family: var(--body-font);
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--placeholder-color);
    margin: 0;
    user-select: none;
  }

  .selected{
    color: var(--primary-color);
  }

  button{
    position: absolute;
    top: 50%;
    right: 0.5rem;
    padding: 0;
    display: flex;
    align-content: center;
    transform: translateY(-50%);
    background-color: transparent;
    color: var(--primary-color);
  }

  .options{
    position: absolute;
    bottom: -0.5rem;
    right: 0;
    z-index: 999;
    transform: translateY(100%);
    background-color: white;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--select-options-shadow);
    user-select: none;
    
    .option{
        display: block;
        padding: 0.6rem;
        border-radius: 0.5rem;
        cursor: pointer;
        height: fit-content;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover{
            background-color: var(--primary-color);
            color: white;
        }

        p{
            margin: 0;
            color: currentColor;
        }
    }
  }

  .selected{
    color: var(--primary-color);
  }
}
