<modal [width]="40" [height]="50" (onClose)="_close()">
    @if (_isLoading() && !_error()) {
    <page-loader />
    }
    @if (!_isLoading() && _error()) {
    <page-error [statusCode]="_error()!.statusCode" />
    }

    @if(!_isLoading() && !_error()){
    <header [style.color]="_employee()!.isDeleted ? 'red':'lime'">
        <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 2048 2048">
            <path fill="currentColor"
                d="M960 256q115 0 221 30t198 84t169 130t130 168t84 199t30 221q0 115-30 221t-84 198t-130 169t-168 130t-199 84t-221 30q-115 0-221-30t-198-84t-169-130t-130-168t-84-199t-30-221q0-115 30-221t84-198t130-169t168-130t199-84t221-30" />
        </svg>

        <h2>{{_employee()!.name}} {{_employee()?.lastName}}</h2>

        @if (!_employee()!.isDeleted) {
        <button (click)="editEmployee()">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />
                    <path
                        d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z" />
                </g>
            </svg>
        </button>
        }
    </header>
    <div class="info">
        <p><span>Correo Electrónico: </span>{{_employee()!.email}}</p>
        <email-button [email]="_employee()!.email" />
        <copy-button [value]="_employee()!.email" />
    </div>
    <div class="info">
        <p><span>Teléfono:</span> {{ _employee()?.phone || 'No agregado.' }}</p>
        @if (_employee()!.phone) {
        <copy-button [value]="_employee()!.phone" />
        }
    </div>

    <div class="double">
        <div class="info">
            <p><span>Empleado desde: </span>{{_employee()!.createdAt | date: 'dd/MM/yyyy'}}.</p>
        </div>
        <div class="info">
            <p style="text-transform: capitalize;"><span>Rol: </span>{{_employee()!.role}}.</p>
        </div>
    </div>
    <hr>
    <div class="info">
        <p><span>Descripción: </span>
            {{_employee()!.roleDescription}}
            {{_employee()!.roleDescription.endsWith('.')?'':'.'}}</p>
    </div>

    <div class="options">
        <loading-button label="Restablecer" [isLoading]="_resetLoading()" [disabled]="_employee()!.isDeleted"
            (onClick)="_resetPassword()" />
        @if (_employee()!.isDeleted) {
        <loading-button label="Restaurar" btnStyle="restore" [isLoading]="_restoreLoading()"
            (onClick)="_restoreEmployee()" />
        }
        @else{
        <loading-button label="Dar de Baja" btnStyle="delete" [isLoading]="_deleteLoading()"
            (onClick)="_deleteEmployee()" />
        }
    </div>
    }
</modal>