.main-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: var(--primary-color);

  span {
    text-align: right;
    font-size: 0.7rem;
    color: red;
    font-weight: 600;
  }
}

*,
* {
  user-select: none;
}

.input-container {
  position: relative;
  width: auto;
  background-color: var(--input-background);
  border-radius: 0.5rem;
  width: 100%;
  
  input{
    padding-left: 2.5rem;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
  }

  button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    background-color: transparent;

    .svg {
      margin: 0;
      padding: 0;
    }
  }
}
