.product-card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  user-select: none;

  .status {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  .img-container {
    min-width: 5rem;
    max-width: 5rem;
    aspect-ratio: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;

    .img-skeleton {
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
      background-size: 200% 100%;
      border-radius: 0.5rem;
      animation: shimmer 1.5s infinite;
    }

    img {
      max-width: 5rem;
      aspect-ratio: 5/6;
    }
  }

  .info {
    flex: 1;
    /* max-width: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h4 {
      font-size: 0.9rem;
      text-transform: capitalize;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .description {
      font-size: 0.75rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      &::first-letter {
        text-transform: capitalize;
      }
    }

    .double {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      align-items: end;
      

      .sku{
        font-size: 0.6rem;
        padding: 0.25rem 0.5rem;
        background-color: gainsboro;
        border-radius: 0.5rem;
      }

      .price {
        margin-top: 0.5rem;
        font-family: var(--title-font);
        font-weight: 700;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
