.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: var(--background-color);
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100%;
  max-width: 100%;

  brand-span {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .main-container {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding:2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;

    h3 {
      font-size: 2rem;
      margin: 0;
    }

    img {
      max-width: 18.75rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      background-color: var(--primary-color);
      border-radius: 0.5rem;
      padding: 0.7rem 1rem;
      text-decoration: none;
      font-family: var(--title-font);
      font-weight: 600;
      font-size: 1rem;

      * {
        color: white;
      }
    }
  }
}
