/** Modal Styles */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /** Backdrop Effects*/
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  z-index: 9999;

  .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--modal-shadow);
    background-color: white;
    user-select: none;

    h2 {
      margin: 0;
    }

    .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      color: var(--primary-color);
      padding: 0;
      background-color: transparent;
      z-index: 9999;
    }

    header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1rem;

      h2 {
        text-transform: capitalize;
      }

      button {
        background-color: transparent;
        color: var(--primary-color);
        padding: 0;
        display: flex;
        align-content: center;
      }
    }

    .info {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span {
        font-weight: 600;
      }
    }

    hr {
      color: var(--primary-color);
      width: 100%;
    }

    .options {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: auto;
      gap: 1rem;

      button {
        min-width: 8rem;
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
      }
    }

    .double {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /** Modal Forms*/

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .double-input {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 1rem;

      * {
        flex: 1;
      }
    }

    .options {
      margin-top: auto;
      display: flex;
      justify-content: flex-end;

      button {
        flex: 0.4;
        padding: 0.7rem 1.2rem;
        font-weight: 450;
      }
    }
  }
}