.container {
  gap: 2rem;

  main {
    flex: 1;
    display: flex;
    gap: 1rem;

    .product-details {
      height: fit-content;
      width: 25%;
      background-color: white;
      border-radius: 0.5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      user-select: none;

      h3,
      h4 {
        user-select: none;
        font-weight: 550;
      }

      h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      h4 {
        font-size: 1rem;
        text-align: center;
      }

      h5 {
        font-size: 0.95rem;
        font-weight: 500;
      }

      hr {
        width: 100%;
      }

      input-number-form {
        align-self: center;
      }

      .error {
        align-self: flex-end;
        max-width: 90%;
        text-align: right;
        color: red;
        font-weight: 600;
        font-size: 0.7rem;
      }
    }

    .process-details {
      flex: 1;
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
      background-color: white;
      border-radius: 0.5rem;
      padding: 1rem;
      padding-bottom: 2rem;

      h3 {
        margin-bottom: 0.25rem;
      }

      hr {
        width: 100%;
      }

      .out-schedule{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
        padding: 1rem;
        background-color: red;
        border-radius: 0.5rem;
        color: white;
        user-select: none;

        .content{
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          .title{
            color: white;
            font-weight: 550;
          }

          .body{
            color: white;
          }
        }
      }

      loading-button{
        align-self: flex-end;
        min-width: 12rem;
      }
    }
  }
}
