.client-filter {
  position: relative;
  min-width: 16rem;

  .input-container {
    position: relative;

    input {
      background-color: white;
      text-transform: capitalize;
      padding-right: 2rem;

      &:focus {
        outline: 2px solid var(--primary-color);
      }
    }
  }
  .helper-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-content: center;
    color: var(--primary-color);
  }

  .dropdown-list {
    position: absolute;
    bottom: -0.5rem;
    transform: translateY(100%);
    z-index: 999;
    width: 100%;
    max-height: 15rem;
    overflow-y: auto;
    background-color: white;
    box-shadow: var(--select-options-shadow);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    span {
      padding: 0.5rem;
      text-transform: capitalize;
      border-radius: 0.25rem;
    }

    .option {
      cursor: pointer;
      user-select: none;
      &:hover {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }
}
