.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.5rem;
  height: 100%;
  padding: 1rem 0.5rem;
  transition: width 0.3s ease;
  background-color: var(--primary-color);

  .brand {
    display: flex;
    width: 100%;
    padding: 0 0.5rem 1rem;
    gap: 0.5rem;
    border-bottom: 2px solid white;
    overflow: hidden;
    user-select: none;

    img {
      width: 2rem;
    }

    span {
      color: white;
      font-family: var(--title-font);
      font-weight: 600;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  .menu-btn {
    position: absolute;
    top: 2rem;
    z-index: 999;
    right: 0;
    transform: translateX(50%);
    background-color: var(--primary-color);
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: right 0.3s ease;
    color: white;
  }

  .menu,
  .logout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    user-select: none;

    .menu-item {
      position: relative;
      display: flex;
      color: white;
      width: 100%;
      border-radius: 0.5rem;
      padding: 0.5rem 0.875rem;
      text-decoration: none;
      align-items: center;
      gap: 0.5rem;
      transition: color 0.3s ease;

      &:hover {
        color: var(--secondary-color);
      }

      span {
        opacity: 1;
        color: currentColor;

        z-index: 99999;
      }
    }
  }

  .logout {
    margin-top: auto;
  }
}

.active {
  background-color: var(--secondary-color);
  color: white !important;
}

.minimize {
  width: 4rem;

  .menu-btn {
    right: 0;
    transform: rotate(180deg) translateX(-50%);
  }

  .menu-item {
    justify-content: center;

    span {
      opacity: 0 !important;
      z-index: 999;
      position: absolute;
      right: -0.7rem;
      transform: translateX(100%) scale(0);
      background-color: var(--primary-color);
      font-size: 0.8rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      transition: opacity 0.3s ease;
    }

    &:hover span {
      transform: translateX(100%) scale(1);
      opacity: 1 !important;
      color: white !important;
    }
  }
}
