<modal [width]="47" [height]="70" (onClose)="_close() ">
    @if (_isLoading()) {
    <page-loader />
    }
    @else if(_error()){
    <page-error [statusCode]="_error()!.statusCode" />
    }
    @else{
    <header>
        <h2>{{purchase()!.sku}}</h2>
        <copy-button [value]="purchase()!.sku" [size]="1.25" />
    </header>
    <h4>Información de la compra:</h4>
    <div class="info">
        <p><b>Materia Prima: </b>{{purchase()!.rawMaterial}}.</p>
    </div>
    <div class="info">
        <p><b>Descripción: </b>{{purchase()!.rawMaterialDescription}}</p>
    </div>
    <div class="double">
        <p><b>Kilogramos Comprados: </b>{{purchase()!.totalKg}} kg.</p>
        <p><b>Precio por Kilo: </b>{{purchase()!.priceKg|currency}}.</p>
        <p><b>Precio Total: </b>{{purchase()!.totalPrice |currency}}.</p>
    </div>
    <hr>
    <h4>Información del proveedor:</h4>
    <div class="info">
        <p><b>Nombre del proveedor: </b>{{purchase()!.supplier}}.</p>
    </div>
    <div class="double">
        <p><b>Correo: </b>{{purchase()!.supplierEmail}}.</p>
        <p><b>Teléfono: </b>{{purchase()!.supplierPhone}}.</p>
    </div>
    <hr>
    <h4>Información de gestión:</h4>
    <div class="info">
        <p><b>Comprador:</b> {{purchase()!.userName}} {{purchase()!.userLastName}}.</p>
    </div>
    <div class="info">
        <p><b>Fecha de compra:</b> {{purchase()!.createdAt |date: 'dd/MM/yyyy'}}.</p>
    </div>
    }

</modal>