<div class="select-form-container" #roleSelect>
    @if (showLabel()) {
    <label>Materia Prima {{requiredMark() ? '*' : ''}}</label>
    }
    <div class="select" [ngClass]="_isFocus() ? 'input-focused' : ''" tabindex="0">
        <p [ngClass]="_value() ? '': 'placeholder'">{{_label() ?? placeholder()}}</p>
        @if (!_value()) {
        <button class="helper-btn" (click)="_onFocus()" type="button" tabindex="-1">
            @if (_isFocus()) {
            <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M11.293 7.293a1 1 0 0 1 1.32-.083l.094.083l6 6l.083.094l.054.077l.054.096l.017.036l.027.067l.032.108l.01.053l.01.06l.004.057L19 14l-.002.059l-.005.058l-.009.06l-.01.052l-.032.108l-.027.067l-.07.132l-.065.09l-.073.081l-.094.083l-.077.054l-.096.054l-.036.017l-.067.027l-.108.032l-.053.01l-.06.01l-.057.004L18 15H6c-.852 0-1.297-.986-.783-1.623l.076-.084z" />
            </svg>
            }
            @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M18 9c.852 0 1.297.986.783 1.623l-.076.084l-6 6a1 1 0 0 1-1.32.083l-.094-.083l-6-6l-.083-.094l-.054-.077l-.054-.096l-.017-.036l-.027-.067l-.032-.108l-.01-.053l-.01-.06l-.004-.057v-.118l.005-.058l.009-.06l.01-.052l.032-.108l.027-.067l.07-.132l.065-.09l.073-.081l.094-.083l.077-.054l.096-.054l.036-.017l.067-.027l.108-.032l.053-.01l.06-.01l.057-.004z" />
            </svg>
            }
        </button>
        }
        @else{
        <button class="helper-btn" (click)="clearValue()" type="button" tabindex="-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 56 56">
                <path fill="currentColor"
                    d="M10.023 43.023c-.796.797-.82 2.157 0 2.954c.82.796 2.157.796 2.977 0l15-15l15 15c.797.796 2.156.82 2.977 0c.796-.82.796-2.157 0-2.954L30.953 28l15.024-15c.796-.797.82-2.156 0-2.953c-.844-.82-2.18-.82-2.977 0l-15 15l-15-15c-.82-.82-2.18-.844-2.977 0c-.796.82-.796 2.156 0 2.953l15 15Z" />
            </svg>
        </button>
        }
    </div>

    @if (_errors().length > 0 && _touched() && !_isFocus()) {
    @switch (_errors()[0].name) {
    @case ('required') {
    <small>Campo obligatorio.</small>
    }
    @default {
    <small>El campo contiene errores.</small>
    }
    }
    }

    @if (_isFocus()) {
    <div class="dropdown-list">
        <!-- <button class="refresh" type="button" tabindex="-1">
            <svg (click)="_getRawMaterials()" xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem"
                viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M12 20q-3.35 0-5.675-2.325T4 12t2.325-5.675T12 4q1.725 0 3.3.712T18 6.75V4h2v7h-7V9h4.2q-.8-1.4-2.187-2.2T12 6Q9.5 6 7.75 7.75T6 12t1.75 4.25T12 18q1.925 0 3.475-1.1T17.65 14h2.1q-.7 2.65-2.85 4.325T12 20" />
            </svg>
        </button> -->
        @if (_isLoading()) {
        <small-loader />
        }
        @else{
        @for (option of _options; track $index) {
        <div class="dropdown-item" (click)="onValueChange(option)">
            <p class="dropdown-label">{{option.name}}</p>
        </div>
        }
        }
    </div>
    }
</div>