.container {
  button {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  h3,
  h4 {
    user-select: none;
    font-weight: 550;
  }

  h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: 550;
  }

  h4 {
    font-size: 1rem;
  }

  main {
    flex: 1;
    display: flex;
    padding: 1rem;
    gap: 2rem;

    .client-payment-section {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 25%;

      .client-details {
        height: fit-content;
        background-color: white;
        border-radius: 0.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        hr {
          width: 100%;
        }

        .client-label {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .circle {
            min-width: 3rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: var(--primary-color);
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              color: white;
              font-family: var(--title-font);
              font-weight: 600;
            }
          }

          p {
            text-transform: capitalize;
            font-size: 0.9rem;
          }
        }

        .info {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }

      .payment-details {
        height: fit-content;
        background-color: white;
        border-radius: 0.5rem;
        padding: 1rem 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
      }
    }

    .sale-details-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .sale-details {
        flex: 1;
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        user-select: none;

        .select-product {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 1.5rem;

          product-sale-input {
            width: 37.5%;
          }

          stock-input {
            width: 15%;
          }

          button {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            padding: 0.5rem 1rem;
          }
        }

        .selected-container {
          background-color: var(--primary-color);
          padding: 0.5rem 1.5rem;
          border-radius: 1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            color: white;
          }
        }

        .empty {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          user-select: none;

          p {
            font-weight: 600;
          }
        }

        .table-container {
          flex: 1;

          td {
            user-select: none;
          }
        }

        .total {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 0.5rem;

          span {
            font-family: var(--title-font);
            font-size: 1.25rem;
            font-weight: 550;

            &.total-amount {
              font-size: 2rem;
              font-weight: 650;
            }
          }
        }
      }
      .total-btn-container {
        display: flex;
        justify-content: flex-end;

        .total-btn {
          justify-content: center;
          padding: 0.75rem 1rem;
          min-width: 12rem;
        }
      }
    }
  }
}
