.main-container {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;

  * {
    user-select: none;
  }

  justify-content: center;
  align-items: center;

  .login-container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width: 60%;
    height: 65%;
  }

  .form-container {
    padding: 1.5rem 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h2 {
      text-align: center;
      margin: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .span-title {
        text-align: center;
        font-weight: 550;
      }

      button {
        margin-top: 1rem;
      }
    }

    a {
      text-align: right;
    }
  }

  .span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 0.5rem;

    .logo {
      max-width: 70px;
      max-height: 80px;
    }
    h5 {
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      text-align: center;
      text-transform: uppercase;
    }
  }

}
