.container {
  .filters {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 0.5rem;

    input {
      background-color: white;
      width: auto;
    }
  }

  .labels {
    display: flex;
    justify-content: space-between;
  }

  .table-container {
    position: relative;
    flex: 1;
    min-width: 0;

    table {
      flex: 1;
      tr {
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
