.brand{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    .image-container{
        background-color: var(--primary-color);
        padding: 0.5rem;
        border-radius: 0.5rem;

        img{
            max-width: 2rem;
        }
    }

    span{
        font-family: var(--title-font);
        font-weight: bolder;
        text-transform: uppercase;

    }
}