
.ticket {
  width: 80mm !important;
  max-width: 80mm !important;
  min-width: 80mm !important;
  padding: 5mm !important;
  margin: 0 !important;
  box-sizing: border-box !important;

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  img {
    max-width: 10mm !important;
    width: 10mm !important;
    height: auto !important;
    object-fit: contain !important;
  }

  h3 {
    font-size: 0.8rem;
    text-align: left;
    font-weight: 650;
    color: black;
  }

  h4 {
    font-size: 0.65rem;
  }

  p,
  b {
    font-size: 0.55rem;
    color: black;
  }

  hr {
    width: 100%;
    background-color: black;
  }

  table {
    margin-top: 0.5rem;
    thead {
      background-color: transparent;
      border-top: solid 1px black;
      border-bottom: solid 1px black;
      th {
        font-size: 0.55rem;
        color: black;
        padding: 0.25rem;
      }
    }
    tr {
      background-color: transparent;
      border-bottom: solid 1px black;

      &:hover {
        outline: none;
      }
    }
    td {
      background-color: transparent;
      font-size: 0.5rem;
      padding: 0.3rem;
    }
  }

  .total-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;

    span {
      font-size: 0.7rem;
      font-weight: 600;

      &.total {
        font-size: 1.2rem;
      }
    }
  }

  .label {
    margin-top: 1rem;
    font-size: 0.5rem;
  }
}

