@if (sale()) {
<div class="ticket" #saleTicket>
    <div class="img-container">
        <img src="logo_black.png" alt="">
        <h3>COMERCIALIZADORA DE <br>PULPO</h3>
    </div>
    <hr>
    <p><b>Folio de la Venta: </b>{{sale().id}}</p>
    <p><b>Fecha de Venta: </b>{{sale().saleDate | date: 'dd/MM/yyyy hh:mm a'}}</p>
    <p class="capitalize"><b>Cajero: </b>{{sale().employee}}</p>
    <hr>
    <h4>Información de la Empresa:</h4>
    <p><b>Dirección: </b>Calle Pescadores #123, Col. Puerto Progreso, Yucatán. C.P. 97320.</p>
    <p><b>RFC:</b> {{sale().clientRfc}}.</p>
    <p><b>Número de Teléfono: </b>999-000-0000.</p>
    <hr>
    <h4>Información del Cliente</h4>
    <p class="capitalize"><b>Nombre: </b>{{sale().client}}</p>
    <p><b>RFC: </b>{{sale().clientRfc ?? 'No agregado'}}.</p>
    <hr>
    <h4>Productos Vendidos:</h4>
    <table>
        <thead>
            <th class="text-left">Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
        </thead>
        <tbody>
            @for (item of sale().products; track $index) {
            <tr>
                <td class="text-left">({{item.sku}}) - {{item.name}}.({{item.content}}{{item.unit}})</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price |currency}}</td>
                <td>{{item.subtotal|currency}}</td>
            </tr>
            }
        </tbody>
    </table>
    <div class="total-container">
        <span>Total:</span>
        <span class="total">{{sale().total|currency}}</span>
    </div>
    <p class="label">
        ** La mercancía viaja por cuenta y riesgo del comprador. Cambios sujetos a políticas de la empresa. Los datos
        personales proporcionados serán tratados conforme a nuestro Aviso de Privacidad.
    </p>
</div>
}