pagination-template {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;

    svg {
      color: var(--primary-color);
    }

    &.current {
      background-color: var(--primary-color);

      span {
        color: white;
      }
    }

    &.disabled{
        opacity: 0;
    }
  }
}
