<modal [width]="42" [height]="80" (onClose)="_close()">
    <h2>Crear Proveedor</h2>
    <p>Los campos con un (*) son obligatorios</p>
    <form [formGroup]="_createSupplierForm" (submit)="_createSupplier()">
        <input-form formControlName="name" name="Nombre" label="Nombre" placeholder="Ingrese el nombre" [maxLength]="50"
            [requiredMark]="true" RegexErrorMessage="Solo letras y espacios (sin espacios al principio o final)" />

        <input-form formControlName="email" name="Correo" label="Correo Electrónico"
            placeholder="Ingrese el correo electrónico" [maxLength]="50" [requiredMark]="true" />
        <div class="double-input">

            <input-form formControlName="phone" name="Teléfono" label="Teléfono" PhoneFormat placeholder="000-000-0000"
                [maxLength]="12" [customMinLengthForFormat]="10" [requiredMark]="true" />

            <input-form formControlName="rfc" name="Correo" label="RFC" placeholder="XXXXXXXXXXXXX" [maxLength]="13" />
        </div>

        <input-form formControlName="altEmail" name="Correo alternativo" label="Correo Electrónico Alternativo"
            placeholder="Ingrese el correo electrónico alternativo" [maxLength]="50" />
        <div class="double-input">
            <input-form formControlName="altPhone" name="Teléfono alternativo" label="Teléfono Alternativo" PhoneFormat
                placeholder="000-000-0000" [maxLength]="12" [customMinLengthForFormat]="10" />
            <div class="input"></div>

        </div>

    </form>
    <loading-button label="Añadir Proveedor" [isLoading]="_isLoading()" [disabled]="_createSupplierForm.invalid"
        type="submit" (onClick)="_createSupplier()"/>

</modal>