<div class="container">
    <header>
        <page-title title="Inventario de Insumos" (onRefresh)="_getSupplies()" />
        <button (click)="_redirectToProductBatches()">
            Inventario de Productos
            <svg xmlns="http://www.w3.org/2000/svg" width="1.25rem" height="1.25rem" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M18 10a1 1 0 0 0-1-1H5.41l2.3-2.29a1 1 0 0 0-1.42-1.42l-4 4a1 1 0 0 0-.21 1.09A1 1 0 0 0 3 11h14a1 1 0 0 0 1-1m3.92 3.62A1 1 0 0 0 21 13H7a1 1 0 0 0 0 2h11.59l-2.3 2.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l4-4a1 1 0 0 0 .21-1.09" />
            </svg>
        </button>
    </header>

    <div class="filters">
        <search-filter [value]="_searchFilter" placeholder="Buscar (SKU)" />
        <raw-material-filter [value]="_rawMaterialFilter" />
    </div>
    <div class="labels">
        <buttons-filter [value]="_availablesFilter" [options]="[
            {label: 'Disponibles', value:true},
            {label: 'Agotados', value:false}
        ]" />
        <p>Lotes Totales: <strong>{{_response()?.total ?? 0}}</strong>.</p>
    </div>

    <div class="table-container">
        @if (_isLoading()) {
        <page-loader />
        }
        @else if (_error()) {
        <page-error [statusCode]="_error()!.statusCode" />
        }
        @else if (_response()!.supplies.length === 0) {
        <no-content type="no-content" title="Sin Resultados" details="No se encontraron registros de compras" />
        }
        @else {
        <table>
            <thead>
                <th>SKU</th>
                <th>Materia Prima</th>
                <th>Fecha de Compra</th>
                <th>Fecha de Caducidad</th>
                <th>Kilogramos Disponibles</th>
                <th>Estado</th>
            </thead>
            <tbody>
                @for (supply of _response()!.supplies; track $index) {
                <tr (click)="_viewSupplyDetails(supply)">
                    <td>{{supply.sku}}</td>
                    <td>{{supply.rawMaterial}}</td>
                    <td>{{supply.purchaseDate| date: 'dd/MM/yyyy'}}</td>
                    <td>{{supply.expirationDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{supply.weightRemainKg | number:'1.2-2' }} kg</td>
                    <td>
                        <supply-status [weight]="supply.weightRemainKg" />
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }
    </div>
    @if (!_isLoading() && !_error() && _response()!.totalPages > 1) {
    <paginacion-backend [totalPages]="_response()!.totalPages" [currentPage]="_currentPage()"
        (pageChange)="_currentPage.set($event)" />
    }
</div>