.select-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-family: var(--body-font);
  font-weight: 500;

  .main-label {
    position: relative;
    width: 100%;
    min-width: 11.813rem;
    padding: 0.75rem 0.7rem;
    border-radius: 0.5rem;
  }

  .placeholder {
    font-family: var(--body-font);
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--placeholder-color);
    margin: 0;
    user-select: none;
  }

  .selected {
    color: var(--primary-color);
    text-transform: capitalize;
  }

  button {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    padding: 0;
    display: flex;
    align-content: center;
    transform: translateY(-50%);
    background-color: transparent;
    color: var(--primary-color);
  }

  .options {
    position: absolute;
    bottom: -0.5rem;
    right: 0;
    z-index: 999;
    transform: translateY(100%);
    background-color: white;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
    box-shadow: var(--select-options-shadow);
    padding: 0.5rem 0 0;

    .refresh {
      position: absolute;
      padding: 0.5rem;
      top: 0;
      right: 0;

      svg {
        cursor: pointer;
        transition: transform 0.3s ease;
      }
    }

    .option {
      display: block;
      padding: 0.6rem;
      border-radius: 0.5rem;
      cursor: pointer;
      height: fit-content;
      width: 100%;
      transition: background-color 0.3s ease, color 0.3s ease;
      user-select: none;

      &:hover {
        background-color: var(--primary-color);
        color: white;
      }

      p {
        margin: 0;
        color: currentColor;
        text-transform: capitalize;
        font-size: 0.9rem;
      }
    }
  }

  .selected {
    color: var(--primary-color);
    margin: 0;
  }

  .error {
    text-align: right;
    font-size: 0.7rem;
    color: red;
    font-weight: 600;
  }
}

.rotate svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
