.modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  button{
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
  }
}
