.stock-select{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    input{
        text-align: center;
    }

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        padding: 0.3rem;
        border-radius: 50%;
    }
}