.modal-container {
  background-color: rgba(0, 0, 0, 0.3);

  .modal {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    max-width: 25%;

    .options {
      width: 100%;
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;

      h1,
      p {
        text-align: center;
      }

      button {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;

        &.cancel {
          background-color: transparent;
          color: var(--primary-color);
        }
      }
    }
  }
}
