.buttons-filter-container {
  display: flex;
  gap: 0.5rem;

  .option {
    background-color: transparent;
    outline: var(--primary-color) 2px solid;
    color: var(--primary-color);
    padding: 0.5rem;
    font-family: var(--body-font);
    font-size: 0.8rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: transform 0.3s ease;
    
    &.selected {
      background-color: var(--primary-color);
      color: white;
    }
  }
}
