.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
  min-width: 0;

  gap: 0.75rem;
  svg {
    margin: 0;
  }

  .label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .option {
      width: fit-content;
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  .double {
    margin-top: 1rem;
    width: 100%;
    gap: 2rem;
  }
}
