.modal {
  max-width: 35%;
  gap: 0.5rem;
  padding: 2rem 1rem;

  .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      font-family: var(--title-font);
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  a {
    margin-top: 1rem;
    align-self: flex-end;
    padding: 0.7rem 1rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-family: var(--title-font);
    font-weight: 600;
  }
}
