.main-container {
  position: relative;
  flex: 1;
  display: flex;
  gap: 2rem;
  width: 100%;

  .user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    background-color: white;
    height: fit-content;
    width: 20%;
    padding: 2rem;
    border-radius: 0.5rem;

    .name {
      font-size: 1.25rem;
      font-family: var(--title-font);
      font-weight: bold;
      text-transform: capitalize;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.5rem;

      .icon-info {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  .change-password-form {
    flex: 1;
    background-color: white;
    padding: 1rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    height: fit-content;
    user-select: none;

    h2 {
      margin: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      password-input {
        width: 20rem;
      }

      .validations {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      button {
        align-self: flex-end;
        width: 15rem;
      }
    }
  }
}
