.container {
  user-select: none;
  main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;

    .report-card {
      flex: 1;
      position: relative;
      display: flex;
      background-color: white;
      border-radius: 1rem;
      padding: 2rem;
      box-shadow: var(--modal-shadow);
      height: 9.5rem;
      cursor: pointer;
      overflow: hidden;
      color: var(--primary-color);
      transition: transform 0.3s ease;

      h4 {
        text-align: left;
        font-size: 1.05rem;
        color: currentColor;
      }

      svg {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(20%, 20%);
      }

      &:nth-child(even) {
        background-color: var(--primary-color);
        color: white;
      }

      &:hover {
        transform: scale(1.01);
      }
    }
  }
}
