/** Root Variables */
:root {
  --primary-color: #151a30;
  --hover-color-btn: #241f4f;
  --secondary-color: #34aef9;
  --disabled-color-btn: #1c2240;
  --disabled-font-color-btn: #aeaeb2;
  --title-font: "Open Sans", sans-serif;
  --body-font: "Montserrat", sans-serif;
  --background-color: #f1f7fa;
  --input-background: #f2f2f7;
  --placeholder-color: #8e8e8e;
  --modal-shadow: 11px 9px 18px -10px rgba(0, 0, 0, 0.1);
  --select-options-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/** Box Model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/** Selection Styles */

::selection {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  color: var(--primary-color);
  margin: 0;
}

hr {
  color: gray;
}

h4 {
  font-size: 1.05rem;
}

h1 {
  font-size: 2rem;
}

p,
strong,
li,
a,
span {
  font-family: var(--body-font);
  color: var(--primary-color);
  font-size: 0.9rem;
  margin: 0;
}

label {
  font-family: var(--body-font);
  font-size: 0.85rem;
  color: var(--primary-color);
}

button {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-family: var(--title-font);
  font-weight: 600;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.9rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

  &:not(:disabled) {
    &:hover {
      transform: scale(1.01);
      background-color: var(--hover-color-btn);
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &:disabled {
    background-color: var(--disabled-color-btn);
    color: var(--disabled-font-color-btn);
    cursor: default;
  }
}

button.clear {
  background-color: red;
  color: white;
  padding: 0.45rem 3rem;

  &:not(:disabled) {
    &:hover {
      background-color: #d0312d;
    }
  }

  &:disabled {
    background-color: darkred;
  }
}

.btn-red-modal {
  background-color: red;
  color: white;
  font-size: 0.9rem;
  font-family: var(--title-font);
  font-weight: 600;
  padding: 0.6rem 1.2rem;

  &:not(:disabled) {
    &:hover {
      background-color: #d0312d;
    }
  }

  &:disabled {
    background-color: darkred;
  }
}

.btn-green-modal {
  background-color: limegreen;
  font-family: var(--title-font);
  font-weight: 600;
  color: white;
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;

  &:not(:disabled) {
    &:hover {
      background-color: #28b428;
    }
  }

  &:disabled {
    background-color: green;
  }
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: var(--input-background);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-family: var(--body-font);
  font-weight: 500;

  &::placeholder {
    font-family: var(--body-font);
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--placeholder-color);
  }

  &[type="checkbox"] {
    width: auto;
    border: none;
    cursor: pointer;
  }
}

.input-focused,
textarea:focus {
  outline: solid 2px var(--primary-color);
}

.input-invalid {
  outline: solid 2px red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/** Body Styles */
body {
  margin: 0;
  padding: 0;
}

/** Container Styles */
.container {
  width: 100%;
  height: 100vh;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1.5rem 2rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    h1 {
      margin: 0;
    }
    button {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-size: 0.9rem;
      font-weight: normal;
    }
  }
}

/** Modal Styles */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /** Backdrop Effects*/
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  z-index: 9999;

  *,
  * {
    min-width: 0;
  }

  .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--modal-shadow);
    background-color: white;
    user-select: none;

    h2 {
      margin: 0;
      text-transform: capitalize;
    }

    .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      color: var(--primary-color);
      padding: 0;
      background-color: transparent;
      z-index: 9999;
    }

    header {
      display: flex;
      align-items: start;
      gap: 0.5rem;
      margin-bottom: 1rem;
      margin: 0;

      svg {
        margin-top: 0.563rem;
      }

      h2 {
        text-transform: capitalize;
      }

      button {
        background-color: transparent;
        color: var(--primary-color);
        padding: 0;
        display: flex;
        align-content: center;
      }
    }

    .info {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span {
        font-weight: 600;
      }
    }

    hr {
      color: var(--primary-color);
      width: 100%;
    }

    .options {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: auto;
      gap: 1rem;
      min-width: 0;

      button {
        min-width: 8rem;
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
      }
    }

    .double {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /** Modal Forms*/

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .double-input {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;

        * {
          flex: 1;
        }
      }
    }

    loading-button {
      margin-top: auto;
      width: 40%;
      align-self: flex-end;
    }

    .options {
      margin-top: auto;
      display: flex;
      justify-content: flex-end;

      button {
        flex: 0.4;
        padding: 0.7rem 1.2rem;
        font-weight: 450;
      }
    }
  }
}

/** Notification Styles */

.notification-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 22.5rem;
  z-index: 999999;
  max-height: 80vh;
  overflow-y: auto;
}

/** Grid*/

.grid {
  position: relative;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-content: start;

  .grid-item {
    width: 100%;
    height: 100%;
    min-width: 0;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.labels {
  display: flex;
  justify-content: space-between;
  user-select: none;
  align-items: center;
}

/** Scroll Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /*background: #e5e7eb;*/
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/** Table */

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: var(--primary-color);

    th {
      padding: 0.6rem;
      font-family: var(--title-font);
      color: white;
      font-weight: 500;
      text-align: center;
    }
  }

  tbody {
    background-color: white;

    td {
      font-family: var(--body-font);
      font-size: 0.9rem;
      padding: 0.7rem 0.5rem;
      text-align: center;
      text-transform: capitalize;

      &.copy {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;
      }
    }

    tr:nth-child(even) {
      background-color: #f0f1f2;
    }
  }
}
